
img.Github {
    position:absolute;
    top: 150%;
    overflow: auto;
}

h1.intro{
    position:absolute;
    top: 10%;
    text-align: center;
}

#intro {
    position:absolute;
    top: 20%;
    text-align: center;
}

/* header (first row) under nav bar */
#header {
    position:absolute;
    top: 20%;
    text-align: right;
}

/* bottom header (visualization section) */
#bot_header{
    position:absolute;
    top: 20%;
    left:26%;
    text-align: right;
}

#bottom_visual {
    position:absolute;
    bottom: -150;
    right: 15%;
}

#bottom_visual_page{
    position:relative;
    bottom: -250;
    right: 0;
}